body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #282c34;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282c34;
}

nav ul li {
    float: left;
}

nav ul li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav ul li a:hover, .dropdown:hover .dropbtn {
    background-color: #1c2025;
}

nav ul li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    padding: 20px;
}

.book-section {
    display: none;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
}

.book-item {
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}

.book-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.book-item img {
    max-width: 100%;
    height: auto;
}

.book-item h3 {
    font-size: 1.1em;
    margin: 10px 0 5px;
}

.book-item p {
    margin: 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #282c34;
    color: white;
}
